  <div class="container-fluid">
    <div class="row">
      <div class="col-3 bg-panelopc pb-5 sticky-top">
        <div class="row mb-3">
          <div class="d-flex justify-content-center">
            <h1 class="">UTP</h1>
            <a href="/links/"><h1 class="text-light">Food</h1></a>
          </div>
        </div>
        <div class="row text-light">
          <h5 class="ps-4">Restaurantes</h5><hr>
          <div class="rest_op  bg-opc">
            <ul class="list-group list-group-flush">
              <div class="opc ps-5 mb-2"><a href="/links/add/restaurants">Añadir restaurante</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/remove/restaurants">Eliminar restaurante</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/addproduct/restaurants">Añadir producto</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/removeproduct1/restaurants">Eliminar producto</a></div>
            </ul>
          </div>
        </div>
        <div class="row text-light">
          <h5 class="ps-4">Super mercados</h5><hr>
          <div class="rest_op  bg-opc">
            <ul class="list-group list-group-flush">
              <div class="opc ps-5 mb-2"><a href="/links/add/markets">Añadir mercado</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/remove/markets">Eliminar mercado</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/addproduct/markets">Añadir producto</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/removeproduct1/markets">Eliminar producto</a></div>
            </ul>
          </div>
        </div>
        <div class="row text-light">
          <h5 class="ps-4">Farmacias</h5><hr>
          <div class="rest_op  bg-opc">
            <ul class="list-group list-group-flush">
              <div class="opc ps-5 mb-2"><a href="/links/add/pharmacies">Añadir farmacia</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/remove/pharmacies">Eliminar farmacia</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/addproduct/pharmacies">Añadir producto</a></div>
              <div class="opc ps-5 mb-2"><a href="/links/removeproduct1/pharmacies">Eliminar producto</a></div>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/links/signup" class="m-4"><h5>Log-out</h5></a>
        </div>
      </div>
      <div class="col-9">
        <div class="bienv ">
          <h3 class="text-muted d-flex justify-content-center ">Bienvenido al panel de administrador</h3>
        </div>
      </div>
    </div>
  </div>